<section class="wrapper flex">
	<div class="content">
		<h2 class="section-ttl">商品一覧</h2>
		<center>
			<div class="search-form">
		        <%= form_with url: search_path, method: :get, local: true do |f| %>
			    <%= f.text_field :keyword, value: @keyword, :size=>"30" %>
			    <%= f.submit "検索",class: "btn btn-primary" %>
		        <% end %>
		    </div>
		   </center>
		<table>
					<tr>
				 <% @items.each do |item| %>
			  	 <td>
			  	 	<%= link_to item_path(item) do %>
			  	 	<%= image_tag item.image, format: "jpeg", fallback: "no-image.png", size: "200x200" %><br>
				  <center><%= item.name %></center>
				  <% end %>
				 </td>
				 <% end %>
				</tr><tr>
					
						 <% @items.each do |item| %>
						 <td>
						 	<center>
							<% if item.is_active? %>
								<span class="text-active">在庫あり</span>
							<% else %>
								<span class="text-invalid">在庫なし</span>
							<% end %>
							</center>
							</td>
							<% end %>
							</tr>
			</table>


	<%#= will_paginate @items, previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;', inner_window: 1, outer_window: 0 %>
	<%= will_paginate(@items, class: "pagination justify-content-center",renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
	<%#= will_paginate @items, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
<% if @items.first %>
<% else %>
<h3>対応する商品はありませんでした。</h3>
<% end %>
</div>
</section>