<section class="inner">
	<div class="text-center">
		<h1 class="section-ttl">部品詳細</h1>
		<div class="flex">
				<div class="image_field">
					<%= image_tag @item.image, size: "200x200" %>
				</div>
			</div>
			<br><br>
			<center>
			<table border="1" style="border-collapse: collapse">
					<tr>
						<td>商品名</td>
						<td><center><%= @item.name %></center></td>
					</tr>
					<tr>
						<td>商品説明</td>
						<td><center><%= @item.introduction %></center></td>
					</tr>
					<tr>
						<td>在庫状況</td>
						<td><center>
							<% if @item.is_active? %>
								<span class="text-active">在庫あり</span>
							<% else %>
								<span class="text-invalid">在庫なし</span>
							<% end %>
							</center>
						</td>
					</tr>
			</table>
			</center><br><br>
			<div class="flex align-center pl5">
				<%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
				<br><br><%= link_to '戻る', admin_items_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</section>