<h1>部門一覧</h1>
<center>
  <div class="search-form">
    <%= form_with url: search_admin_departments_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, :placeholder => "部門名を入力", value: @keyword, :size=>"30" %>
      <%= f.submit "検索",class:"btn btn-primary" %>
    <% end %>
  </div>
</center>
<h3 class="text-right">
    <%= link_to new_admin_department_path do %>
      <i class="fas fa-plus-circle"></i>
    <% end %></h3>
    <br><br>
    <left>
    <div class="departments">
      <% @departments.each do |department| %>
    	<%= link_to admin_department_path(department) do %>
        <% end %>
      <% end %>
    </div>
      <center>
      <table border="1">
        <% @departments.each_with_index do |department, i| %>
          <% if i == 0 %>
            <tr>
              <th width="100" height="50"><center>ID</center></th>
              <th width="200" height="50"><center>部門番号</center></th>
              <th width="200" height="50"><center>部門名</center></th>
            </tr>
        <% end %>
             <tr>
                 <td width="100" height="50"><center><%= link_to department.id,admin_department_path(department) %></center></td>
                 <td width="100" height="50"><center><%= link_to department.department_number,admin_department_path(department) %></center></td>
                 <td width="200" height="50"><center><%= link_to department.name,admin_department_path(department) %></center></td>
             </tr>
        <% end %>
      </table>
        <%= will_paginate(@departments, class: "pagination justify-content-center",renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        <% if @departments.first %>
        <% else %>
          <h3>対応する部門はありませんでした</h3>
        <% end %>
</center>
