<section class="inner">
	<h1 class="section-ttl">注文履歴詳細</h1>
	<center>
		注文情報
		<table border="1">
		<tr>
		  <td>注文日時</td>
			 <td><%= @order.created_at.strftime("%Y年%m月%d日") %></td>
		</tr>
		<tr>
		  <td>購入者</td>
		  <td><center><%= link_to @department.name,admin_department_path %></center></td>
		</tr>
		<tr>
		  <td>配送先</td>
		  <td>
		    <center>
		    	<%= @order.delivery_department %>
		    </center>
		  </td>
		</tr>
		</table><br>
	<div class="flex">
		注文内容
		<table border="1">
			<thead>
				<tr>
					<th><center>部品名</center></th>
					<th><center>数量</center></th>
					<th><center>進捗</center></th>
				</tr>
			</thead>
			<tbody>
				<% @order_details.each do |order_detail| %>
					<tr>
						<td><center><%= link_to order_detail.item.name, admin_item_path(order_detail.item) %></center></td>
						<td><center><%= order_detail.amount %></center></td>

						<td>
							<%= form_with model: order_detail, url: admin_order_detail_path(order_detail) do |f| %>
								<%= f.select :making_status, options_for_select(OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]}, order_detail.making_status) %>
								<%= f.submit "更新", class: "btn btn-primary" %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<br><br><%= link_to '戻る', admin_top_path, class: "btn btn-success" %>
	</center>
</section>