<section class="inner">
	<h1 class="section-ttl">注文情報確認</h1>
	<center>
		<table border="1">
			<thead>
				<tr>
					<th><center>部品名</center></th>
					<th><center>数量</center></th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
					<% item = cart_item.item %>
					<tr>
						<td>
							<%= image_tag item.image, size: "100x100" %><br>
						  <center><%= item.name %></center></td>
						<td><center><%= cart_item.amount %></center></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br><br>
	<%= form_with model: @order, url: orders_path do |f| %>
		<div class="field">
			<label>お届け先</label>
			<%# MODELのバリデーションのinclusionの編集も忘れずに %>
			<%= f.select :delivery_department, ['1階南棟', '1階北棟', '2階南棟', '2階北棟'], {include_blank: 'お届け先を選択してください'} %>
		</div>
		<br><br>
		<div class="actions text-center">
			<%= link_to 'ショッピングカートに戻る',cart_items_path, class: "btn btn-success" %><br><br>
			<%= f.submit "注文を確定する", class: "btn btn-primary submit_to_create_order" %>
		</div>
	<% end %>
	</center>
</section>