<section class="inner">
	<h1 class="section-ttl">注文履歴一覧</h1>
	<center>
	<table border="1">
		<thead>
			<tr>
				<th><center>注文日</center></th>
				<th><center>配送先</center></th>
				<th><center>注文商品</center></th>
				<th><center>対応状況</center></th>
				<th><center>注文詳細</center></th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><center><%= order.created_at.strftime("%Y年%m月%d日") %></center>
					<td>
						<center><%= order.delivery_department %></center>
					</td>
					<td>
						<% order.order_details.each do |order_detail| %>
						<center><%= order_detail.item.name %></center>
						<% end %>
					</td>
					<td><center><%= order.status_i18n %></center></td>
					<td><center>
						<%= link_to "表示する", order_path(order), class: "btn btn-primary" %>
						</center>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table><br><br>
	<%= link_to '戻る', departmentpage_path, class: "btn btn-success" %>
	</center>
</section>